[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
six = "*"
exponent-server-sdk = "*"
requests = "*"
firebase-admin = "*"

[dev-packages]
pre-commit = "*"
pylint = "*"
black = "==18.4a4"

[requires]
python_version = "3.6"
