[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
redis = "*"
six = "*"
exponent-server-sdk = "*"
requests = "*"

[dev-packages]
black = "*"
pre-commit = "*"
pylint = "*"

[requires]
python_version = "3.6"
